asgiref==3.2.3
certifi==2020.12.5
chardet==4.0.0
Django==2.2.7
django-jsonfield==1.4.1
django-stripe-payments==2.0.0
djangorestframework==3.11.0
idna==2.10
numpy==1.18.1
pandas==1.0.2
Pillow==7.0.0
psycopg2==2.8.6
python-dateutil==2.8.1
pytz==2019.3
requests==2.25.1
simplex==0.1.2
six==1.14.0
sqlparse==0.3.0
stripe==2.55.2
urllib3==1.26.3
